<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

</head>
<body>
<div class="container">
    <h1>Register</h1>
    <div th:if="${error}" class="alert alert-danger" role="alert">
        <p th:text="${error}"></p>
    </div>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="upsID">UpsID:</label>
            <input type="text" class="form-control" id="upsID" th:field="*{upsID}" required />
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" required />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" th:field="*{password}" required />
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    <a class="btn btn-secondary mt-3" th:href="@{/main}">Back to main page</a>
</div>
</body>
</html>
