<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Your Packages</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

</head>
<body>
<div class="container">
  <h1>Your Packages</h1>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Tracking number</th>
      <th>Details</th>
      <th>Destination</th>
      <th>Status</th>
      <th>Location</th>
      <th>Distance</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pkg, i : ${userPackages}">
      <td th:text="${pkg.packageID}"></td>
      <td th:text="${pkg.details}"></td>
      <td th:text="${pkg.destinationX + ', ' + pkg.destinationY}"></td>
      <td th:text="${pkg.status}"></td>
      <td th:if="${pkg.status == 'delivered'}" th:text="${pkg.destinationX + ', ' + pkg.destinationY}"></td>
      <td th:if="${pkg.status == 'delivering'}" th:text="${pkg.truck.posX + ', ' + pkg.truck.posY}"></td>
      <td th:if="${pkg.status != 'delivering' and pkg.status != 'delivered'}">Wait for delivery</td>
      <td th:text="${distances[__${i.index}__]}"></td>
      <td>
        <form th:if="${pkg.status != 'delivered' and pkg.status != 'delivering'}" th:action="@{/changedest/{id}(id=${pkg.packageID})}" method="get">
          <button type="submit">Change Destination</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
  <a class="btn btn-secondary" th:href="@{/main}">Back to main page</a>
</div>
</body>
</html>

